# Port utilisé par le serveur (optionnel)
PORT=3000

# Clé secrète pour le chiffrement des tokens JWT
JWT_SECRET=changeme

# Environnement de l’application (development, production, test)
NODE_ENV=development
