# Dépendances
node_modules
**/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds / sorties compilées
dist
coverage

# Variables d'environnement
.env
.env.*
*/.env
*/.env.*

# Fichiers d'éditeur/OS
.vscode
.idea
.DS_Store
