# 🌐 Port du serveur Express
PORT=3000

# 🔐 Clé secrète JWT pour vérification des tokens
JWT_SECRET=your_jwt_secret_here

# 🧠 Redis (session, cache, rate limiting)
REDIS_URL=redis://localhost:6379

# 📡 Kafka (event distribution, audit logs)
KAFKA_BROKER=localhost:9092
SERVICE_NAME=gateway-service

# 🔁 URL des microservices
AUTH_SERVICE_URL=http://localhost:3001
TICKET_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3003
VERIFY_SERVICE_URL=http://localhost:3004

# 📌 Environnement d’exécution
NODE_ENV=development
